// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
    margin: 0; padding: 0;
}

#logo{
    width: 50px;
    height: 50px;
}


#navbar {

    border-bottom: 1px solid white;
}
.nav-link{

    font-size: 18px;
}

.contact{
    border: 2px solid brown;
    margin-left: 3px;
    font-size: 20px;
    text-align: center;
}
.contact p span{
    color: brown;
}
.main-div {
    width: 100%;
    padding: 0;
}

p {
    font-size: 17px;
}

.carousel{
    margin-bottom: -15px;
    margin-top: -25px;
}
.carousel img{
    height: 600px;
}
.image-upload input {
    display: none;
}

.image-upload img:hover{
     cursor: pointer;
}
.sidebar {
    margin-top: 130px;
}
.single-ad{
    margin-top: 120px;

}
.card-img-top{
    height: 300px;
}

.card-body{
    background-color: #333333;
}
.card-login{
    height: 400px;
}
.card-text {
    margin-top: 30px;
    height: 100px;
    color: #d9d9d9;
}
.card-title{
    font-size: 25px;
    font-weight: bolder;
    color: #dcdcdc;
}
.dropdown-item{
     background-color: brown;
     font-weight: bold;
     color: #fff;

}

.input-field:focus {
    border: 3px solid brown !important;
    box-shadow: none;
}

.nav-image{
    border-radius: 25%;
}

.singleAdImg img{
    max-height: 400px;
}

.category-img {
    max-height: 300px;
}

.card-title:hover{
   text-decoration: underline;
}

.card-text:hover{
    text-decoration: underline;
}
.forms{
    color: black;
    border: 2px solid brown;
    box-shadow: none !important;
}
.forms:focus{
    color: black;
    border: 2px solid brown;
    box-shadow: darkred;
}
.form-button{
      background-color: brown;
      box-shadow: none;
      border-color: transparent;
}
.form-button:hover{
    background-color:#330000;
    box-shadow: none;
    border-color: transparent;
}
.form-button:focus{
    background-color:#330000;
    box-shadow: none;
    border-color: transparent;
}
.form-button:target{
    background-color:#330000;
    box-shadow: none;
    border-color: transparent;
}
.form-button:active{
    background-color:brown !important;
    box-shadow: none;
    border-color: transparent !important;
    box-shadow: none !important;
}
.ad-data{

    border: 2px solid brown;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: chocolate;
}
.category-img{
    width: 100%;
    height: 300px !important;
}
.large-img{

    width: 100%;
}
.small-img{
    width: 100%;
    height: 200px !important;
}
.message-body{
    background-color: #fff;

}
.message-body p{
    color: black;
}
#footer{
    margin-top: 100px;
    min-height: 200px;
}
.footer-content{
    margin-top: 80px;
}
.footer-content p{
     font-size: 20px;
     color:#D2691E;
}
.footer-mail{
    width: 300px;
}
.myDesigns a{
   color: #D2691E;
}
.myDesigns a:hover{
    color: #f1893e;
    text-decoration: none;
}
.header {
    width: 80%;
}
.verify-email{
    margin-top: 100px;
    margin-bottom: 30px;
}















