// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


#logo{
    width: 50px;
    height: 50px;
}

#navbar {

    border-bottom: 1px solid white;
}
.contact{
    border: 2px solid yellow;
    margin-left: 3px;
    font-size: 20px;
    text-align: center;
}
.contact p span{
    color: brown;
}
p {
    font-size: 17px;
}

.carousel{
    margin: -15px;
}
.carousel img{
    height: 600px;
}
.image-upload input {
    display: none;
}

.image-upload img:hover{
     cursor: pointer;
}






